  body{
            background-color: antiquewhite;
            background-image: url('./watch.jpg');
            z-index:-1;
        }
        .content_body
        {
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-top:100px;
        }
        #sizing
        {
            font-size: 33px;
            background-color: antiquewhite;
            width:600px;
            padding:10px;
            border-radius: 22px;
            box-shadow: 12px 12px 12px grey;
        }
       